## Preprocessing

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf


#  Import and read the charity_data.csv.
import pandas as pd
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df = application_df.drop(['EIN'], axis=1)

In [3]:
name_count = application_df.NAME.value_counts()

In [4]:
cutoff_value = 100
names_to_replace = list(name_count[name_count < cutoff_value].index)

# Replace in dataframe
for app in names_to_replace:
    application_df['NAME'] = application_df['NAME'].replace(app,"Other")

# Check to make sure binning was successful
application_df['NAME'].value_counts()

Other                                                                 25987
PARENT BOOSTER USA INC                                                 1260
TOPS CLUB INC                                                           765
UNITED STATES BOWLING CONGRESS INC                                      700
WASHINGTON STATE UNIVERSITY                                             492
AMATEUR ATHLETIC UNION OF THE UNITED STATES INC                         408
PTA TEXAS CONGRESS                                                      368
SOROPTIMIST INTERNATIONAL OF THE AMERICAS INC                           331
ALPHA PHI SIGMA                                                         313
TOASTMASTERS INTERNATIONAL                                              293
MOST WORSHIPFUL STRINGER FREE AND ACCEPTED MASONS                       287
LITTLE LEAGUE BASEBALL INC                                              277
INTERNATIONAL ASSOCIATION OF LIONS CLUBS                                266
MOMS CLUB                                                               210
INTERNATIONAL ASSOCIATION OF SHEET METAL AIR RAIL & TRANSPORTATION      206
AMERICAN ASSOCIATION OF UNIVERSITY WOMEN                                197
FARMERS EDUCATIONAL AND COOPERATIVE UNION OF AMERICA                    166
KNIGHTS OF COLUMBUS                                                     158
HABITAT FOR HUMANITY INTERNATIONAL INC                                  154
TENNESSEE ORDER OF THE EASTERN STAR                                     151
VETERANS OF FOREIGN WARS OF THE UNITED STATES AUXILIARY                 144
PTA UTAH CONGRESS                                                       140
THE UNITED STATES PONY CLUBS INC                                        136
CIVITAN INTERNATIONAL                                                   131
SIGMA BETA DELTA INC                                                    127
HONOR SOCIETY OF PHI KAPPA PHI                                          107
MONTANA 4-H FOUNDATION INC                                              107
WASHINGTON STATE GRANGE                                                 106
UNIVERSITY OF WYOMING                                                   105
DEMOLAY INTERNATIONAL                                                   104
SERTOMA INC                                                             103
Name: NAME, dtype: int64

In [5]:
# Determine the number of unique values in each column.
counts = application_df.nunique()

print(counts)

NAME                        31
APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [6]:
# Look at APPLICATION_TYPE value counts for binning
application_type_count = application_df['APPLICATION_TYPE'].value_counts()

print(application_type_count)

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [7]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
cutoff_value = 100
application_types_to_replace = list(application_type_count[application_type_count < cutoff_value].index)

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
T9         156
Other      120
Name: APPLICATION_TYPE, dtype: int64

In [8]:
# Look at CLASSIFICATION value counts for binning
classifications_count = application_df['CLASSIFICATION'].value_counts()
classifications_count

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [9]:
# You may find it helpful to look at CLASSIFICATION value counts >1
classifications_count_filtred = classifications_count[classifications_count > 1]
classifications_count_filtred

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [10]:
# Choose a cutoff value and create a list of classifications to be replaced
cutoff_value = 100
classifications_to_replace = list(classifications_count_filtred[classifications_count_filtred < cutoff_value].index)

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")

# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
Other      643
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C1370        1
C1236        1
C2190        1
C4200        1
C5200        1
C1900        1
C2600        1
C1248        1
C6100        1
C1820        1
C1580        1
C2570        1
C1732        1
C3700        1
C2500        1
C1570        1
C1283        1
C2380        1
C1728        1
C2170        1
C4120        1
C8210        1
C4500        1
C1245        1
C2561        1
C2150        1
Name: CLASSIFICATION, dtype: int64

In [11]:
# Convert categorical data to numeric with `pd.get_dummies`
application_df_transform = pd.get_dummies(application_df)
application_df_transform

,STATUS,ASK_AMT,IS_SUCCESSFUL,NAME_ALPHA PHI SIGMA,NAME_AMATEUR ATHLETIC UNION OF THE UNITED STATES INC,NAME_AMERICAN ASSOCIATION OF UNIVERSITY WOMEN,NAME_CIVITAN INTERNATIONAL,NAME_DEMOLAY INTERNATIONAL,NAME_FARMERS EDUCATIONAL AND COOPERATIVE UNION OF AMERICA,NAME_HABITAT FOR HUMANITY INTERNATIONAL INC,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,1,108590,1,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,1,0
2,1,5000,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
3,1,6692,1,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,1,0
4,1,142590,1,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,1,5000,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
34295,1,5000,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
34296,1,5000,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
34297,1,5000,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
34298,1,36500179,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,1,0

In [12]:
# Split our preprocessed data into our features and target arrays
X= application_df_transform.drop('IS_SUCCESSFUL', axis=1)
y= application_df_transform['IS_SUCCESSFUL']


# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78)

In [13]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [14]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense


num_features = len(X_train_scaled[0])

model = tf.keras.models.Sequential()
model.add(Dense(units=30, activation="relu", input_dim= num_features))
model.add(Dense(units=15, activation="relu"))
model.add(Dense(units=1, activation="sigmoid"))

# First hidden layer
#  YOUR CODE GOES HERE

# Second hidden layer
#  YOUR CODE GOES HERE

# Output layer
#  YOUR CODE GOES HERE

# Check the structure of the model
model.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 30)                3240

 dense_1 (Dense)             (None, 15)                465

 dense_2 (Dense)             (None, 1)                 16

=================================================================
Total params: 3,721
Trainable params: 3,721
Non-trainable params: 0
_________________________________________________________________

In [15]:
# Compile the model
model.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [16]:
#  Create a callback
import os
from tensorflow.keras.callbacks import ModelCheckpoint

# Define the checkpoint path and filenames
os.makedirs("checkpoints2/",exist_ok=True)
checkpoint_path = "checkpoints2/weights.{epoch:02d}.hdf5"

# Create a callback which saves the weights for every 5 epochs
cp_callback= ModelCheckpoint(filepath=checkpoint_path,save_weights_only=True, period=5)

WARNING:tensorflow:`period` argument is deprecated. Please use `save_freq` to specify the frequency in number of batches seen.

In [17]:
# Train the model
model.fit(X_train_scaled, y_train, epochs=30, callbacks=[cp_callback])

Epoch 1/30
804/804 [==============================] - 4s 3ms/step - loss: 0.5271 - accuracy: 0.7351
Epoch 2/30
804/804 [==============================] - 2s 2ms/step - loss: 0.4917 - accuracy: 0.7573
Epoch 3/30
804/804 [==============================] - 2s 2ms/step - loss: 0.4884 - accuracy: 0.7590
Epoch 4/30
804/804 [==============================] - 2s 2ms/step - loss: 0.4865 - accuracy: 0.7598
Epoch 5/30
804/804 [==============================] - 2s 2ms/step - loss: 0.4853 - accuracy: 0.7610
Epoch 6/30
804/804 [==============================] - 2s 2ms/step - loss: 0.4847 - accuracy: 0.7608
Epoch 7/30
804/804 [==============================] - 2s 3ms/step - loss: 0.4829 - accuracy: 0.7629
Epoch 8/30
804/804 [==============================] - 2s 2ms/step - loss: 0.4831 - accuracy: 0.7619
Epoch 9/30
804/804 [==============================] - 2s 2ms/step - loss: 0.4825 - accuracy: 0.7623
Epoch 10/30
804/804 [==============================] - 2s 2ms/step - loss: 0.4814 - accuracy: 0.7624
Epoch 11/30
804/804 [==============================] - 2s 2ms/step - loss: 0.4816 - accuracy: 0.7633
Epoch 12/30
804/804 [==============================] - 2s 2ms/step - loss: 0.4809 - accuracy: 0.7638
Epoch 13/30
804/804 [==============================] - 2s 2ms/step - loss: 0.4805 - accuracy: 0.7627
Epoch 14/30
804/804 [==============================] - 2s 3ms/step - loss: 0.4796 - accuracy: 0.7648
Epoch 15/30
804/804 [==============================] - 2s 2ms/step - loss: 0.4800 - accuracy: 0.7634
Epoch 16/30
804/804 [==============================] - 2s 2ms/step - loss: 0.4796 - accuracy: 0.7640
Epoch 17/30
804/804 [==============================] - 2s 2ms/step - loss: 0.4792 - accuracy: 0.7638
Epoch 18/30
804/804 [==============================] - 2s 2ms/step - loss: 0.4785 - accuracy: 0.7659
Epoch 19/30
804/804 [==============================] - 2s 2ms/step - loss: 0.4782 - accuracy: 0.7659
Epoch 20/30
804/804 [==============================] - 2s 2ms/step - loss: 0.4780 - accuracy: 0.7658
Epoch 21/30
804/804 [==============================] - 2s 3ms/step - loss: 0.4775 - accuracy: 0.7662
Epoch 22/30
804/804 [==============================] - 2s 2ms/step - loss: 0.4772 - accuracy: 0.7655
Epoch 23/30
804/804 [==============================] - 2s 2ms/step - loss: 0.4770 - accuracy: 0.7653
Epoch 24/30
804/804 [==============================] - 2s 2ms/step - loss: 0.4771 - accuracy: 0.7656
Epoch 25/30
804/804 [==============================] - 2s 2ms/step - loss: 0.4775 - accuracy: 0.7659
Epoch 26/30
804/804 [==============================] - 3s 3ms/step - loss: 0.4766 - accuracy: 0.7651
Epoch 27/30
804/804 [==============================] - 3s 3ms/step - loss: 0.4766 - accuracy: 0.7657
Epoch 28/30
804/804 [==============================] - 2s 3ms/step - loss: 0.4764 - accuracy: 0.7660
Epoch 29/30
804/804 [==============================] - 2s 2ms/step - loss: 0.4759 - accuracy: 0.7672
Epoch 30/30
804/804 [==============================] - 2s 2ms/step - loss: 0.4758 - accuracy: 0.7659

In [18]:
# Evaluate the model using the test data
model_loss, model_accuracy = model.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.4960 - accuracy: 0.7502 - 487ms/epoch - 2ms/step
Loss: 0.4959864020347595, Accuracy: 0.7502040863037109

In [19]:
# Export our model to HDF5 file
model.save('alphabetsoupcharity2.h5')

In [20]:
from google.colab import files
files.download('alphabetsoupcharity2.h5')

In [21]:
from google.colab import drive
drive.mount("/checkpoints2/")

Mounted at /checkpoints2/

In [28]:
!zip -r checkpoints2.zip checkpoints2/

  adding: checkpoints2/ (stored 0%)
  adding: checkpoints2/weights.05.hdf5 (deflated 49%)
  adding: checkpoints2/weights.25.hdf5 (deflated 49%)
  adding: checkpoints2/weights.15.hdf5 (deflated 49%)
  adding: checkpoints2/weights.20.hdf5 (deflated 49%)
  adding: checkpoints2/weights.10.hdf5 (deflated 49%)
  adding: checkpoints2/weights.30.hdf5 (deflated 49%)

In [29]:
files.download('checkpoints2.zip')